

<!-- Main Container -->
<div class="main-container">
    <div class="container">
        <div class="img-container">
            <img src="signin-image.avif" alt="Sign In Image">
        </div>
        <div class="login-container">
            <div class="login-box">
                <h2 style="color: rgb(0, 0, 0);text-align: center;">Login to Grocery Store</h2>
                <input type="email" [(ngModel)]="email" placeholder="Enter your Email ">
                <input type="password" [(ngModel)]="password" placeholder="Enter your Password">
                <button (click)="login()">Login</button>
                <p>{{ errorMessage }}</p>
                <a [routerLink]="['/register']">New User? <b>Register Yourself</b></a>
            </div>
        </div>
    </div>
</div>